@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  color: #303030;
  scroll-behavior: smooth;
  font-size: 14px;
  font-weight: 500;
}

img,
video {
  max-width: 100%;
}

.button-primary {
  background: linear-gradient(101.9deg, #fb7b4a 3.62%, #de4f3f 92.8%);
}

.ep-button + .ep-button {
  margin-left: 0 !important;
}

.ep-table {
  width: 100%;
  font-size: 12px;
}

.ep-input__wrapper {
  border-radius: 8px !important;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -ms-border-radius: 8px !important;
  -o-border-radius: 8px !important;
}

.ep-input--large .ep-input__wrapper {
  padding: 4px 16px !important;
}

.ep-select__wrapper {
  border-radius: 8px !important;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -ms-border-radius: 8px !important;
  -o-border-radius: 8px !important;
}

.ep-select--large .ep-select__wrapper {
  padding: 16px !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.input-container {
  position: relative;
  width: 100%;
}

.input-label {
  position: absolute;
  font-size: 0.9rem;
  left: 10px;
  top: -8px;
  background-color: white;
  padding: 0 4px;
  z-index: 1;
  line-height: 1.2;
}
