$--colors: (
  'primary': (
    'base': #de4f3f
  ),
  'success': (
    'base': #06c270
  ),
  'warning': (
    'base': #ffcc00
  ),
  'danger': (
    'base': #ff3b3b
  ),
  'error': (
    'base': #db2828
  ),
  'info': (
    'base': #0063f7
  )
);

// we can add this to custom namespace, default is 'el'
@forward 'element-plus/theme-chalk/src/mixins/config.scss' with (
  $namespace: 'ep'
);

// You should use them in scss, because we calculate it by sass.
// comment next lines to use default color
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  // do not use same name, it will override.
  $colors: $--colors,
  $button-padding-horizontal: ('default': 50px)
);

// @use 'element-plus/theme-chalk/src/index.scss' as *;
